﻿/* datatable */
.table.table-bordered.dataTable th, 
table.table-bordered.dataTable td {
    vertical-align: middle;
}
/* loader */
#loader {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
    z-index: 999999
}
.view-loading {
display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
    transition: opacity .2s ease,visibility .2s ease,-webkit-transform .2s ease;
    transition: opacity .2s ease,visibility .2s ease,transform .2s ease;
    transition: opacity .2s ease,visibility .2s ease,transform .2s ease,-webkit-transform .2s ease;
}
.loading-element--circle {
    width: 8rem;
    height: 8rem;
    border: 8px solid hsla(255,0%,80%,.4);
    border-top-color: #fff;
    border-radius: 50%;
    -webkit-animation: loadingCircle 1s linear;
    animation: loadingCircle 1s linear;
/*    -webkit-animation-play-state: play;
    animation-play-state: play;*/
}

@-webkit-keyframes loadingCircle{
    to{
        -webkit-transform:rotate(1turn);
        transform:rotate(1turn)
    }
}
@keyframes loadingCircle{
    to{
        -webkit-transform:rotate(1turn);
        transform:rotate(1turn)
    }
}
.show-loading {
    transition-delay: .1s;
    opacity: 1;
    transform: scale(1);
    visibility: visible;
}

/* image */
.fileinput {
    position: relative;
    width: 100%;
}
.fileinput .thumbnail {
    height: 140px;
    max-height: 140px;    
}
.fileinput .thumbnail img {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.fileinput .btn-add-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 4px;
    display: block;
    background: transparent;
    transition: all .7s;
    opacity: 0
}
.fileinput .btn-add-image:hover {
    opacity: 1
}
.fileinput .btn-add-image .btn-group {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.fileinput .btn-add {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
/* ace file input */
.button-add-image {
    position: relative;
    width: 100%;
    height: 130px;
    border: 1px dashed #aaa;
    border-radius: 4px;
    text-align: center;
    margin-top: 10px;
}
.button-add-image > a {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: initial!important;
    padding: 10px!important;
}
.ace-file-multiple { width: 150px; }
.ace-file-multiple .ace-file-container {
    padding: 5px;
    border: 1px solid #ddd;
}
.ace-file-multiple .ace-file-container {
    width: 100%;
    height: 150px;
}
.ace-file-multiple .ace-file-container:before {
    font-size: 10px!important;
    line-height: 14px;
}
.ace-file-input .ace-file-container:hover {
    border-color: #ddd;
    box-shadow: 0 0 1px 0 #adadad;
}
.ace-file-multiple .ace-file-container .ace-file-name.large {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
}
.ace-file-multiple .ace-file-container .ace-file-name.large:after { 
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 1;
}
.ace-file-multiple .ace-file-container .ace-file-name.large img {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 100%!important;
    height: inherit!important;
}
#additional-image .remove {
    display: none!important;
}
.box-image > .remove-image {
    position: absolute;
    display: inline-block;
    /*width: 17px;*/
    text-align: center;
    /*height: 17px;*/
    line-height: 15px;
    font-size: 11px;
    font-weight: 400;
    /*background-color: #fb7142;*/
    /*border-radius: 100%;*/
    /*color: #FFF;*/
    text-decoration: none;
    right: -11px;
    top: -1px;
    border: 3px solid #BBB;
    border-radius: 32px;
    background-color: #FFF;
    color: red;
    width: 23px;
    height: 23px;
    line-height: 15px;
    z-index: 1;
}

/* product */
.product {
    position: relative;
    min-height: 65px;
}
.product .image {
    position: absolute;
    width: 80px;
    height: 65px;
    overflow: hidden;
}
.product .image img {
    position: absolute;
    width: 100%;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
.product .caption {
    display: block;
    padding-left: 90px;
}
.product .caption p {
    padding: 0;
    margin: 0;
}